* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sora', sans-serif;
    background-color: rgb(32, 32, 32);
    color: oldlace;
}

.header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    font-weight: lighter;
    top: 0;
    padding-top: 15px;
}

.header h1 {
    align-self: center;
    text-align: center;
    font-size: 1.5em;
}

.header p {
    align-self: center;
    text-align: center;
    font-style: italic;
}

.homepage-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.resume {
    display: flex;
}

.AboutMe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.AboutMe h1 {
    text-align: center;
}

.AboutMe img {
    width: 25%;
    height: 25%;
    border-radius: 50%;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.navbar {
    margin-bottom: 0px;
}

.affix~.container-fluid {
    position: relative;
    top: 50px;
}

#section1 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #1E88E5;
}

#section2 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #673ab7;
}

#section3 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #ff9800;
}

#section41 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #00bcd4;
}

#section42 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #009688;
}

@media only screen and (max-width: 961px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-weight: lighter;
        align-self: center;
        font-size: 2em;
        top: 0;
    }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-weight: lighter;
        align-self: center;
        top: 0;
    }
    .header h1 {
        display: flex;
        align-self: center;
        font-size: 0.75em;
    }
    .header p {
        font-size: 0.33em;
    }
}

@media only screen and (max-width: 400px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        font-weight: lighter;
        align-self: center;
        top: 0;
    }
    .header h1 {
        text-align: center;
        align-self: center;
        font-size: 0.75em;
    }
    .header p {
        font-size: 0.33em;
    }
}